@font-face {
    font-family: PS2Font;
    src: url(https://themes.googleusercontent.com/static/fonts/exo/v2/wocyXRLWPo2Av-yUTmmbTA.woff);
}

* {
	font-size:11px;
	font-family: PS2Font;
	color: white;
	text-overflow:ellipsis;
	white-space:nowrap;
	
}

body{
	overflow:hidden;
	margin: 0px;
	border: double orange 10px;
	border-image: url("border.png") 10 round stretch;
}

img
{
	width: 15px;
	height: 15px;
	margin-left: 5px;
	margin-right: 5px;	
	vertical-align: middle;
}

iframe
{
	width: 100%;
	height: 100%;
}

html, body {
	height: 100%;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

table {
	width: 100%;
	table-layout: fixed;
}

th{
	border-color:#30ACAC;
	height: 15px;
	overflow: hidden;
}

td{
	border: 1px solid;
	border-color:#30ACAC;
	height: 15px;
	overflow: hidden;
	text-align: center;
}

tr{
	height: 20px;
}

textarea{
	padding-left: 0px;
	padding-right: 0px;	
	border: 0px;	
	color: white;
	background: rgba(0, 0, 0, 0.35);
}

.container{
	border: 1px solid;
	border-color:#30ACAC;
	display: inline-block;
	text-align: left;
	float: left;
	margin: 2px;
}

.odd{
	background: rgba(0, 0, 0, 0.6);
}
.even{
	background: rgba(255, 255, 255, 0.25);
}

.resizeGrip {
	position: absolute;
}

.windowController{
	width: 55px;
	height: 23px;
	top: 0;
	right: 10px;
    margin: 0 auto;
	color: black;
}

.invisible{
	width: 0px;
	height: 0px;
	position: absolute;
	top: 0px;
	left: 0px;
}

.ui-layout-center{
}

.ui-layout-east{
}

.ui-layout-south{
}

#content {
	background: url("background.png");
	background-size: 100% 100%;
	height: 100%;
	overflow:auto;
}

#resizeGripTop {
	height: 10px;
	top: 0;
	left: 10px;
	right: 10px;
	cursor: ns-resize;
}

#resizeGripBottom {
	height: 10px;
	bottom: 0;
	left: 10px;
	right: 10px;
	cursor: ns-resize;
}

#resizeGripLeft {
	width: 10px;
	left: 0;
	top: 10px;
	bottom: 10px;
	cursor: ew-resize;
}

#resizeGripRight {
	width: 10px;
	right: 0;
	top: 10px;
	bottom: 10px;
	cursor: ew-resize;
}

#resizeGripTopLeft {
	width: 10px;
	height: 10px;
	top: 0;
	left: 0;
	cursor: nwse-resize;
}

#resizeGripBottomLeft {
	width: 10px;
	height: 10px;
	bottom: 0;
	left: 0;
	cursor: nesw-resize;
}

#resizeGripTopRight {
	width: 10px;
	height: 10px;
	top: 0;
	right: 0;
	cursor: nesw-resize;
}

#resizeGripBottomRight {
	width: 10px;
	height: 10px;
	bottom: 0;
	right: 0;
	cursor: nwse-resize;
}

#minimizeButton {
	width: 10px;
	height: 10px;
	top: 0px;
	right: 20px;
	background: url("minimize.png");
}

#jstree_demo_div{
	width: 100%;
	background-color:rgba(0,0,0,0.35);
}

#jstree_clients_div{
	width: 100%;
	background-color:rgba(0,0,0,0.35);
}

/* Added for keeping header static */
    
.fixed-table-container {
  width: 50%;
  height: 200px;
  border: 1px solid black;
  margin: 10px auto;
  background-color: white;
  /* above is decorative or flexible */
  position: relative; /* could be absolute or relative */
  padding-top: 30px; /* height of header */
}

.fixed-table-container-inner {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}
 
.header-background {
  background-color: #D5ECFF;
  height: 30px; /* height of header */
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}